header {
   background-color: #1F2937;
   width: 100%;
   padding-bottom: 100px;
   padding-top: 15px;
}

body {
display: flex;
flex-direction: column;
justify-content: center;
width: auto;
align-items: center;
margin: 0;
}

footer {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-right: 15px;
    width: 100%;
}

ul {
    text-decoration: none;
    gap: 15px;
    list-style-type: none;
}

a {
    color:white
}

.links {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

.awesome {
    text-size-adjust: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button {
    background-color: #3882F6;
    display: inline-block;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    margin-left: 100px;
}

.button:hover {
    background-color: #E5E7EB;
    color: #3882F6;
}

.header-title {
    font-weight: 900;
    color: #F9FAF8;
    size: 48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-wrap: wrap;
    box-sizing: border-box;
    padding-left: 100px;
}

.header-text {
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    flex-direction: column;
    text-align: left;
    text-wrap: wrap;
    padding-left: 100px;
}

.illustrations {
    display: flex;
    justify-content: space-evenly
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E5E7EB;
    width: 100%;
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    border-radius: 25px;
}

ul {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
}

.call-to-action {
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    padding: 25px;
    box-sizing: content-box;
    width: 500px;
    border: 15px white;
    border-radius: 25px;
    margin: 20px;
    color: white;
}

img {
    border-color: #3882F6;
    border-radius: 10px;
}